In [84]:
# importo le librerie
import pandas as pd
import numpy as np
import pulp

# importo le funzioni
from os.path import join
from itertools import product

In [ ]:
# passaggio da eseguire una volta sola

df_source_polimi = pd.read_excel('source_from_polimi.xlsx')

# così è un multiindex con il nome come indice
df_source = pd.DataFrame(df_source_polimi.groupby(['Denominazione','Codice','Sem','CFU','Rating'])['Gruppo'].apply(list))

# ora ritornano dei numeri come indice
df_source.reset_index(inplace=True)

# lo scrivo
df_source.to_excel('source.xlsx')

In [112]:
# PARAMETRI DA SCEGLIERE

# scelta del track
choices = ['MCS','MMF','MST']
track = choices[2]
print(f'You chose {track}. Congratulations!')

CFU_max_sem = 35
CFU_max_tot = 121 # il max di quelli a scelta (obbligatori sono 68)

You chose MST. Congratulations!

In [113]:
PATH_CFU_COSTRAINTS = join('assets','min_CFUs.xlsx')
df_cfu = pd.read_excel(PATH_CFU_COSTRAINTS,index_col=0).dropna()
df_cfu[track] = 0 # aggiungo colonna il gruppo del track con minimo 0 CFU

GROUPS_names = df_cfu.columns.tolist()
min_cfus = df_cfu.loc[track].tolist()

In [114]:
# DATAFRAME CORSI OBBLIGATORI
PATH1 = join('assets','source_'+track+'_1.xlsx')
PATH2 = join('assets','source_'+track+'_2.xlsx')
# comp = compulsory
df_comp1 = pd.read_excel(PATH1).dropna()
df_comp2 = pd.read_excel(PATH2).dropna()
comp1 = len(df_comp1)
comp2 = len(df_comp2)
df_comp = pd.concat([df_comp1, df_comp2]) # unisco i compulsory dei due anni
df_comp.reset_index(inplace=True, drop=True) # reset dell'index 0-4,0-1

df_comp

                            Denominazione  Codice  Sem  CFU Gruppo  Rating
0            REAL AND FUNCTIONAL ANALYSIS   95958    1    8    MST       0
1             STOCHASTIC DYNAMICAL MODELS   54074    1    8    MST       0
2       ALGORITHMS AND PARALLEL COMPUTING   52496    1   10    MST       0
3  MODEL IDENTIFICATION AND DATA ANALYSIS   96297    2   10    MST       0
4                      APPLIED STATISTICS   52498    2   10    MST       0
5                     BAYESIAN STATISTICS   52499    1   10    MST       0
6                              FINAL WORK   97690    2   12    MST       0

In [117]:
df_user = pd.read_excel('source.xlsx',index_col=0).dropna()
df_user['Gruppo'] = df_user['Gruppo'].apply(eval) # serve perché nel file i gruppi sono ['FREE'], mentre vogliamo [FREE]
df_user

,Denominazione,Codice,Sem,CFU,Rating,Gruppo
2,ADVANCED PARTIAL DIFFERENTIAL EQUATIONS,95963,2,8,1.0,"[MTM, FREE]"
3,ADVANCED PROGRAMMING FOR SCIENTIFIC COMPUTING,54073,2,10,3.0,"[CSCL, MTM]"
10,ARTIFICIAL NEURAL NETWORKS AND DEEP LEARNING,54307,1,5,5.0,"[STAT, ING, FREE]"
20,CALCULUS OF VARIATIONS,97673,2,8,1.0,"[MTM, FREE]"
21,COMMUNICATION AND ARGUMENTATION,52582,2,5,1.0,[FREE]
28,COMPUTATIONAL STATISTICS,55700,1,8,4.0,"[MTM, FREE]"
32,CONTINUOUS DYNAMICAL SYSTEMS,55728,2,5,4.0,[MTM]
34,CRITICAL THINKING,55806,2,5,1.0,[FREE]
35,CRITICAL THINKING,55809,2,3,1.0,[FREE]
37,DATA MINING,56892,1,5,4.0,"[STAT, ING, FREE]"
39,DESIGN AND ANALYSIS OF EXPERIMENTS B,51132,1,10,5.0,"[STAT, FREE]"
42,DINAMICA DEI SISTEMI COMPLESSI,89195,1,10,3.0,"[ING, FREE]"
56,GAME THEORY,52503,1,8,5.0,"[MTM, FREE]"
60,HIGH-TECH ENTREPRENEURSHIP,55514,2,5,1.0,[FREE]
67,MACHINE LEARNING,97683,2,5,5.0,"[STAT, ING]"
79,NONPARAMETRIC STATISTICS,55702,1,8,3.0,"[MTM, FREE]"
84,ONLINE LEARNING APPLICATIONS,56894,2,5,5.0,"[ING, FREE]"
85,OPTIMIZATION,95972,2,8,5.0,"[MTM, FREE]"
92,REACTION-DIFFUSION EQUATIONS,57266,2,8,4.0,"[MTM, FREE]"
95,SCIENTIFIC COMPUTING TOOLS FOR ADVANCED MATHEM...,56936,2,8,2.0,[FREE]
99,STREAMING DATA ANALYTICS,56895,1,5,1.0,"[STAT, ING, FREE]"

In [120]:
# creo un dataframe per dare corrispondenza codice-denominazione
code_name = pd.concat([df_comp, df_user]).set_index('Codice')

# tolgo le colonne non necessarie
code_name.drop(columns=['Sem','CFU','Gruppo','Rating'],inplace=True)

# NB ci si accede in questo modo
# code_name.loc[56955]['Denominazione']

# rimuovo i doppi indici
code_name = code_name[~code_name.index.duplicated(keep='last')] # specificare quale tenere perché potrebbero a priori avere "Denominazione" diversa, ma non in questo caso perché uguale codice => uguale nome

# converto in un dizionario
code_name = code_name.to_dict()['Denominazione']

#code_name

In [121]:
df_user = df_user.drop(columns=['Denominazione'])
df_comp = df_comp.drop(columns=['Denominazione'])

In [122]:
df = pd.concat([df_comp, df_user]).reset_index(drop=True) # drop serve per far si che il vecchio brutto indice non diventi una colonna

df.head(10)

   Codice  Sem  CFU             Gruppo  Rating
0   95958    1    8                MST     0.0
1   54074    1    8                MST     0.0
2   52496    1   10                MST     0.0
3   96297    2   10                MST     0.0
4   52498    2   10                MST     0.0
5   52499    1   10                MST     0.0
6   97690    2   12                MST     0.0
7   95963    2    8        [MTM, FREE]     1.0
8   54073    2   10        [CSCL, MTM]     3.0
9   54307    1    5  [STAT, ING, FREE]     5.0

In [123]:
dfexplode = df.explode('Gruppo')
dfexplode.head()

   Codice  Sem  CFU Gruppo  Rating
0   95958    1    8    MST     0.0
1   54074    1    8    MST     0.0
2   52496    1   10    MST     0.0
3   96297    2   10    MST     0.0
4   52498    2   10    MST     0.0

In [124]:
#dfcrosstab = pd.crosstab(dfexplode['Codice'], dfexplode['Gruppo']).ne(0).reset_index()
dfcrosstab = pd.crosstab(dfexplode['Codice'], dfexplode['Gruppo'])
#dfcrosstab.loc[52503]['FREE']
dfcrosstab.head()

Gruppo  CSCL  FREE  ING  MST  MTM  STAT
Codice
51132      0     1    0    0    0     1
52496      0     0    0    1    0     0
52498      0     0    0    1    0     0
52499      0     0    0    1    0     0
52503      0     1    0    0    1     0

In [125]:
dict_base = df.to_dict()

In [126]:
# PARAMETRI
codes    = dict_base['Codice']
semester = dict_base['Sem']
cfus     = dict_base['CFU']
rating   = dict_base['Rating']

In [127]:
# INSIEMI
COURSES = list(codes.keys())
YEARS   = [1, 2]
GROUPS  = list(range(len(GROUPS_names)))

In [128]:
# PROBLEMA
prob = pulp.LpProblem('Piano_di_studi', pulp.const.LpMaximize)

In [129]:
# VARIABILI
x = pulp.LpVariable.dicts('corso-anno-gruppo', (COURSES, YEARS, GROUPS), lowBound=0, upBound=1, cat='Continuous')  # quanto corso i anno j gruppo k
y = pulp.LpVariable.dicts('corso',             (COURSES),                lowBound=0, upBound=1, cat='Binary')      # 1 se corso i è scelto
z = pulp.LpVariable.dicts('corso-anno',        (COURSES, YEARS),         lowBound=0, upBound=1, cat='Binary')      # 1 se corso i all'anno j

In [130]:
# FUNZIONE OBIETTIVO
prob += pulp.lpSum([rating[i]*cfus[i]*x[i][j][k] for (i, j, k) in product(COURSES, YEARS, GROUPS)])

In [131]:
# VINCOLI

# (richiesta) obbligatorietà dei corsi
for i in range(comp1):
    # 5 dovrebbe essere l'indice dell'ultimo gruppo, quello "finto" della track
    prob += x[i][1][GROUPS[-1]] == 1, f"Compulsory course {i} in year 1"

for i in range(comp1, comp1+comp2):
    prob += x[i][2][GROUPS[-1]] == 1, f"Compulsory course {i} in year 2"

# (capacità) max cfu totali
prob += pulp.lpSum([cfus[i]*x[i][j][k] for (i, j, k) in product(COURSES, YEARS, GROUPS)]) <= CFU_max_tot, f"Maximum total CFUs"
#prob += pulp.lpSum([cfus[i]*y[i] for i in COURSES]) <= CFU_max_tot, f"Maximum total CFUs"

# (capacità) max cfu per semestre per anno
for j in YEARS:
    target_groups = [i for i in COURSES if semester[i] == 1]
    prob += pulp.lpSum([cfus[i]*x[i][j][k] for (i,k) in product(target_groups,GROUPS)]) <= CFU_max_sem, f"Maximum CFUs for year {j} semester 1"

    target_groups = [i for i in COURSES if semester[i] == 2]
    prob += pulp.lpSum([cfus[i]*x[i][j][k] for (i,k) in product(target_groups,GROUPS)]) <= CFU_max_sem, f"Maximum CFUs for year {j} semester 2"

# (logico) se un corso è scelto allora z_ij = 1
for (i,j) in product(COURSES,YEARS):
    prob += pulp.lpSum([x[i][j][k] for k in GROUPS]) <= 1000 * z[i][j], f"If course {i} chosen, then z[{i}][{j}]=1"

# (capacità) non posso scegliere un corso in più anni (cioè mettere GAT metà al primo e metà al secondo annno per es.)
for i in COURSES:
    prob += pulp.lpSum([z[i][j] for j in YEARS]) <= 1, f"Course {i} in no more than one year"

# i prossimi due potrebbero essere riassunti in sum... = y[i] ma per discorsi di approssimazione forse meglio così
    
# (logico) se un corso è scelto allora y[i]=1
# (capacità) corso scelto al massimo una sola volta (<=1)
for i in COURSES:
    prob += pulp.lpSum([x[i][j][k] for (j, k) in product(YEARS, GROUPS)]) <= y[i], f"If course {i} chosen, then y[{i}]=1"

# (assegnamento) se y_i=1 allora tutti quanti sopra tutti i gruppi devono sommare a 1 (circa)
for i in COURSES:
    prob += y[i] <= pulp.lpSum([x[i][j][k] for (j, k) in product(YEARS, GROUPS)]), f"If course {i} chosen, then sum of x[{i}][j][k]=1"

# (richiesta) min cfu gruppo (nessun vincolo per l'ultimo che è quello della track)
for k in GROUPS[:-1]:
    prob += pulp.lpSum([cfus[i]*x[i][j][k] for (i,j) in product(COURSES,YEARS)]) >= min_cfus[k], f"Minimum CFUs for group {k}"  # >=/==

# (capacità) posso dare peso a un corso in un gruppo solo è consentito
for (i,k) in product(COURSES,GROUPS):
    prob += pulp.lpSum([x[i][j][k] for j in YEARS]) <= dfcrosstab.loc[codes[i]][GROUPS_names[k]], f"Possibility to choose course {i} in group {k} only if allowed"
    
# dfcrosstab.loc[52503]['FREE']
# dfcrosstab.loc[codes[...]][GROUPS_names[...]]

In [132]:
# RISOLUZIONE
status = prob.solve()

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Users/teo/Documents/GitHub/compilatore-piano-di-studi/venv/lib/python3.9/site-packages/pulp/apis/../solverdir/cbc/osx/64/cbc /var/folders/1n/5l6269bd647d957r5df7_hj80000gn/T/d1bdabd293524002a5f8ad05266dd3a3-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/1n/5l6269bd647d957r5df7_hj80000gn/T/d1bdabd293524002a5f8ad05266dd3a3-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 330 COLUMNS
At line 3222 RHS
At line 3548 BOUNDS
At line 3969 ENDATA
Problem MODEL has 325 rows, 420 columns and 2471 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 253 - 0.00 seconds
Cgl0003I 0 fixed, 0 tightened bounds, 33 strengthened rows, 0 substitutions
Cgl0003I 0 fixed, 0 tightened bounds, 6 strengthened rows, 0 substitutions
Cgl0004I processed model has 147 rows, 141 columns (63 integer (63 of which binary)) and 695 elements
Cbc0038I Initial state - 12 integers unsatisfied sum - 3.72917
Cbc0038I Pass   1: suminf.    3.21667 (10) obj. -252 iterations 30
Cbc0038I Pass   2: suminf.    2.71667 (9) obj. -252 iterations 1
Cbc0038I Pass   3: suminf.    0.20000 (1) obj. -247 iterations 41
Cbc0038I Pass   4: suminf.    0.10000 (1) obj. -252 iterations 31
Cbc0038I Pass   5: suminf.    0.20000 (1) obj. -247 iterations 43
Cbc0038I Pass   6: suminf.    1.25833 (5) obj. -223 iterations 25
Cbc0038I Pass   7: suminf.    0.45833 (3) obj. -223 iterations 3
Cbc0038I Pass   8: suminf.    0.40000 (1) obj. -200 iterations 41
Cbc0038I Pass   9: suminf.    0.30000 (1) obj. -195 iterations 29
Cbc0038I Pass  10: suminf.    0.40000 (1) obj. -200 iterations 26
Cbc0038I Pass  11: suminf.    0.60000 (2) obj. -200 iterations 25
Cbc0038I Pass  12: suminf.    0.60000 (2) obj. -200 iterations 6
Cbc0038I Pass  13: suminf.    0.42500 (3) obj. -189 iterations 43
Cbc0038I Pass  14: suminf.    0.42500 (2) obj. -192 iterations 34
Cbc0038I Pass  15: suminf.    0.30000 (1) obj. -189 iterations 30
Cbc0038I Pass  16: suminf.    0.40000 (1) obj. -192 iterations 26
Cbc0038I Pass  17: suminf.    1.07500 (5) obj. -164 iterations 73
Cbc0038I Pass  18: suminf.    1.07500 (5) obj. -164 iterations 6
Cbc0038I Pass  19: suminf.    0.20000 (1) obj. -160 iterations 20
Cbc0038I Pass  20: suminf.    0.10000 (1) obj. -163 iterations 13
Cbc0038I Pass  21: suminf.    0.20000 (1) obj. -160 iterations 17
Cbc0038I Pass  22: suminf.    0.76667 (4) obj. -157 iterations 45
Cbc0038I Pass  23: suminf.    0.22500 (3) obj. -155 iterations 17
Cbc0038I Pass  24: suminf.    0.20000 (1) obj. -152 iterations 30
Cbc0038I Pass  25: suminf.    0.10000 (1) obj. -155 iterations 12
Cbc0038I Pass  26: suminf.    0.91250 (5) obj. -153 iterations 47
Cbc0038I Pass  27: suminf.    0.85000 (4) obj. -155 iterations 5
Cbc0038I Pass  28: suminf.    0.60000 (3) obj. -140 iterations 36
Cbc0038I Pass  29: suminf.    0.42500 (3) obj. -139 iterations 33
Cbc0038I Pass  30: suminf.    0.60000 (2) obj. -146 iterations 44
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 10 integers at bound fixed and 36 continuous
Cbc0038I Full problem 147 rows 141 columns, reduced to 102 rows 84 columns
Cbc0038I Mini branch and bound improved solution from 1.79769e+308 to -240 (0.10 seconds)
Cbc0038I Round again with cutoff of -241.3
Cbc0038I Pass  30: suminf.    3.21667 (10) obj. -252 iterations 0
Cbc0038I Pass  31: suminf.    2.71667 (9) obj. -252 iterations 1
Cbc0038I Pass  32: suminf.    0.20000 (1) obj. -247 iterations 49
Cbc0038I Pass  33: suminf.    0.10000 (1) obj. -252 iterations 38
Cbc0038I Pass  34: suminf.    0.20000 (1) obj. -247 iterations 42
Cbc0038I Pass  35: suminf.    2.53250 (8) obj. -241.3 iterations 62
Cbc0038I Pass  36: suminf.    2.03250 (7) obj. -241.3 iterations 2
Cbc0038I Pass  37: suminf.    0.42125 (2) obj. -241.3 iterations 52
Cbc0038I Pass  38: suminf.    0.30000 (1) obj. -246 iterations 34
Cbc0038I Pass  39: suminf.    0.40000 (1) obj. -243 iterations 34
Cbc0038I Pass  40: suminf.    1.36875 (7) obj. -241.3 iterations 48
Cbc0038I Pass  41: suminf.    0.75000 (3) obj. -243 iterations 25
Cbc0038I Pass  42: suminf.    0.46917 (2) obj. -241.3 iterations 44
Cbc0038I Pass  43: suminf.    0.70000 (2) obj. -242 iterations 52
Cbc0038I Pass  44: suminf.    0.40000 (1) obj. -249 iterations 32
Cbc0038I Pass  45: suminf.    0.30000 (1) obj. -246 iterations 36
Cbc0038I Pass  46: suminf.    1.00000 (4) obj. -241.3 iterations 36
Cbc0038I Pass  47: suminf.    0.92292 (4) obj. -241.3 iterations 17
Cbc0038I Pass  48: suminf.    0.37500 (2) obj. -241.3 iterations 44
Cbc0038I Pass  49: suminf.    0.37500 (2) obj. -241.3 iterations 0
Cbc0038I Pass  50: suminf.    0.46917 (2) obj. -241.3 iterations 37
Cbc0038I Pass  51: suminf.    0.46917 (2) obj. -241.3 iterations 0
Cbc0038I Pass  52: suminf.    0.37500 (2) obj. -241.3 iterations 44
Cbc0038I Pass  53: suminf.    0.75000 (2) obj. -248 iterations 48
Cbc0038I Pass  54: suminf.    0.75000 (2) obj. -248 iterations 1
Cbc0038I Pass  55: suminf.    0.32500 (3) obj. -241.3 iterations 40
Cbc0038I Pass  56: suminf.    0.55187 (2) obj. -241.3 iterations 34
Cbc0038I Pass  57: suminf.    0.40000 (1) obj. -244 iterations 4
Cbc0038I Pass  58: suminf.    0.45400 (1) obj. -241.3 iterations 28
Cbc0038I Pass  59: suminf.    1.40500 (4) obj. -241.3 iterations 49
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 18 integers at bound fixed and 44 continuous
Cbc0038I Full problem 147 rows 141 columns, reduced to 85 rows 65 columns
Cbc0038I Mini branch and bound improved solution from -240 to -244 (0.18 seconds)
Cbc0038I Round again with cutoff of -245.8
Cbc0038I Reduced cost fixing fixed 3 variables on major pass 3
Cbc0038I Pass  59: suminf.    3.22917 (10) obj. -253 iterations 1
Cbc0038I Pass  60: suminf.    0.25000 (1) obj. -249 iterations 53
Cbc0038I Pass  61: suminf.    0.12500 (1) obj. -253 iterations 34
Cbc0038I Pass  62: suminf.    0.25000 (1) obj. -249 iterations 40
Cbc0038I Pass  63: suminf.    1.28000 (4) obj. -245.8 iterations 42
Cbc0038I Pass  64: suminf.    0.80000 (2) obj. -246 iterations 29
Cbc0038I Pass  65: suminf.    0.30000 (1) obj. -246 iterations 1
Cbc0038I Pass  66: suminf.    0.40000 (1) obj. -249 iterations 35
Cbc0038I Pass  67: suminf.    1.18000 (3) obj. -245.8 iterations 29
Cbc0038I Pass  68: suminf.    1.10000 (3) obj. -245.8 iterations 21
Cbc0038I Pass  69: suminf.    0.76000 (2) obj. -245.8 iterations 37
Cbc0038I Pass  70: suminf.    0.40000 (1) obj. -249 iterations 35
Cbc0038I Pass  71: suminf.    0.30000 (1) obj. -246 iterations 32
Cbc0038I Pass  72: suminf.    1.09500 (4) obj. -245.8 iterations 45
Cbc0038I Pass  73: suminf.    0.99000 (3) obj. -245.8 iterations 37
Cbc0038I Pass  74: suminf.    0.12500 (1) obj. -253 iterations 29
Cbc0038I Pass  75: suminf.    0.12500 (1) obj. -253 iterations 0
Cbc0038I Pass  76: suminf.    0.67000 (2) obj. -245.8 iterations 38
Cbc0038I Pass  77: suminf.    1.47333 (3) obj. -245.8 iterations 50
Cbc0038I Pass  78: suminf.    1.47333 (3) obj. -245.8 iterations 3
Cbc0038I Pass  79: suminf.    0.12500 (1) obj. -253 iterations 20
Cbc0038I Pass  80: suminf.    0.67000 (3) obj. -245.8 iterations 42
Cbc0038I Pass  81: suminf.    0.12500 (1) obj. -253 iterations 34
Cbc0038I Pass  82: suminf.    1.12500 (3) obj. -245.8 iterations 23
Cbc0038I Pass  83: suminf.    1.12500 (3) obj. -245.8 iterations 6
Cbc0038I Pass  84: suminf.    0.67000 (2) obj. -245.8 iterations 45
Cbc0038I Pass  85: suminf.    0.12500 (1) obj. -253 iterations 39
Cbc0038I Pass  86: suminf.    0.12500 (1) obj. -253 iterations 5
Cbc0038I Pass  87: suminf.    1.43111 (5) obj. -245.8 iterations 31
Cbc0038I Pass  88: suminf.    1.18056 (4) obj. -248 iterations 31
Cbc0038I No solution found this major pass
Cbc0038I Before mini branch and bound, 20 integers at bound fixed and 42 continuous
Cbc0038I Full problem 147 rows 141 columns, reduced to 89 rows 69 columns
Cbc0038I Mini branch and bound did not improve solution (0.25 seconds)
Cbc0038I After 0.25 seconds - Feasibility pump exiting with objective of -244 - took 0.23 seconds
Cbc0012I Integer solution of -244 found by feasibility pump after 0 iterations and 0 nodes (0.26 seconds)
Cbc0038I Full problem 147 rows 141 columns, reduced to 60 rows 45 columns
Cbc0031I 26 added rows had average density of 29.192308
Cbc0013I At root node, 26 cuts changed objective from -253 to -250.23137 in 100 passes
Cbc0014I Cut generator 0 (Probing) - 189 row cuts average 2.1 elements, 0 column cuts (17 active)  in 0.019 seconds - new frequency is 1
Cbc0014I Cut generator 1 (Gomory) - 741 row cuts average 67.7 elements, 0 column cuts (0 active)  in 0.013 seconds - new frequency is 1
Cbc0014I Cut generator 2 (Knapsack) - 1 row cuts average 7.0 elements, 0 column cuts (0 active)  in 0.013 seconds - new frequency is -100
Cbc0014I Cut generator 3 (Clique) - 0 row cuts average 0.0 elements, 0 column cuts (0 active)  in 0.001 seconds - new frequency is -100
Cbc0014I Cut generator 4 (MixedIntegerRounding2) - 155 row cuts average 16.2 elements, 0 column cuts (0 active)  in 0.016 seconds - new frequency is 1
Cbc0014I Cut generator 5 (FlowCover) - 55 row cuts average 8.9 elements, 0 column cuts (0 active)  in 0.027 seconds - new frequency is 1
Cbc0014I Cut generator 6 (TwoMirCuts) - 94 row cuts average 26.1 elements, 0 column cuts (0 active)  in 0.013 seconds - new frequency is 1
Cbc0010I After 0 nodes, 1 on tree, -244 best solution, best possible -250.23137 (0.47 seconds)
Cbc0038I Full problem 147 rows 141 columns, reduced to 54 rows 38 columns
Cbc0038I Full problem 147 rows 141 columns, reduced to 52 rows 39 columns
Cbc0001I Search completed - best objective -244, took 5338 iterations and 114 nodes (0.80 seconds)
Cbc0032I Strong branching done 684 times (5786 iterations), fathomed 36 nodes and fixed 48 variables
Cbc0035I Maximum depth 12, 56 variables fixed on reduced cost
Cuts at root node changed objective from -253 to -250.231
Probing was tried 182 times and created 305 cuts of which 17 were active after adding rounds of cuts (0.026 seconds)
Gomory was tried 182 times and created 779 cuts of which 0 were active after adding rounds of cuts (0.019 seconds)
Knapsack was tried 100 times and created 1 cuts of which 0 were active after adding rounds of cuts (0.013 seconds)
Clique was tried 100 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.001 seconds)
MixedIntegerRounding2 was tried 182 times and created 246 cuts of which 0 were active after adding rounds of cuts (0.026 seconds)
FlowCover was tried 182 times and created 90 cuts of which 0 were active after adding rounds of cuts (0.046 seconds)
TwoMirCuts was tried 182 times and created 213 cuts of which 0 were active after adding rounds of cuts (0.026 seconds)
ZeroHalf was tried 1 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                244.00000000
Enumerated nodes:               114
Total iterations:               5338
Time (CPU seconds):             0.78
Time (Wallclock seconds):       0.81

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.79   (Wallclock seconds):       0.82

In [133]:
print(f"Status:    {pulp.LpStatus[status]}")
print(f"Objective: {prob.objective.value()}")

Status:    Optimal
Objective: 244.0

In [134]:
#prob.constraints

In [143]:
#prob.writeLP('pulp_problem_description.txt')

In [142]:
# output
# ne servono 2
# - SOMMARIO, quello che uno ha bisogno di sapere, con le variabili z, quale corso in quale anno
# - DETTAGLI, quello da dare a Gregoratti, quale percentuale di quale corso in quale gruppo, con le x

corsi=[]
for (i,j,k) in product(COURSES, YEARS, GROUPS):
    val = x[i][j][k].varValue
    if val and val > 0:
        #codice = codes[i]
        #gruppo = GROUPS_names[k]
        #anno = YEARS[j-1]
        #string = f'{val*100:3.0f}% del corso: {codice}\t\tnel gruppo {gruppo}\t\tnell\'anno {anno}'
        #print(string)
                           
        course_name=code_name[codes[i]]
        semester_name=semester[i]
        cfus_name=cfus[i]
        codes_name=codes[i]
        group_name=GROUPS_names[k]
        year_name = YEARS[j-1]
        percentage = val
        el=[codes_name, course_name, cfus_name, group_name, year_name, semester_name, val]
        corsi.append(el)
        print(f"{val*100:3.0f}% di {course_name} [{group_name}, {cfus_name} CFU] all'anno {year_name} al semestre {semester_name}")
        # :3.0f

piano=pd.DataFrame(corsi, columns=['Codice', 'Denominazione', 'CFU', 'Gruppo', 'Anno', 'Sem','%'])
piano=piano.set_index('Codice')
piano=piano.sort_values(['Anno', 'Sem'], ascending=[True, True])

print(piano)

total_cfus = pulp.lpSum([cfus[i]*x[i][j][k].varValue for (i, j, k) in product(COURSES, YEARS, GROUPS)])
print(f'Total number of CFUs:      {total_cfus}')

for j in YEARS:
    target_groups = [i for i in COURSES if semester[i] == 1]
    cfus_sem_1 = pulp.lpSum([cfus[i]*x[i][j][k].varValue for (i,k) in product(target_groups,GROUPS)])
    print(f'CFUs for year {j} semester 1: {cfus_sem_1}')
    
    target_groups = [i for i in COURSES if semester[i] == 2]
    cfus_sem_2 = pulp.lpSum([cfus[i]*x[i][j][k].varValue for (i,k) in product(target_groups,GROUPS)])
    print(f'CFUs for year {j} semester 2: {cfus_sem_2}')

100% di REAL AND FUNCTIONAL ANALYSIS [MST, 8 CFU] all'anno 1 al semestre 1
100% di STOCHASTIC DYNAMICAL MODELS [MST, 8 CFU] all'anno 1 al semestre 1
100% di ALGORITHMS AND PARALLEL COMPUTING [MST, 10 CFU] all'anno 1 al semestre 1
100% di MODEL IDENTIFICATION AND DATA ANALYSIS [MST, 10 CFU] all'anno 1 al semestre 2
100% di APPLIED STATISTICS [MST, 10 CFU] all'anno 1 al semestre 2
100% di BAYESIAN STATISTICS [MST, 10 CFU] all'anno 2 al semestre 1
100% di FINAL WORK [MST, 12 CFU] all'anno 2 al semestre 2
100% di COMPUTATIONAL STATISTICS [FREE, 8 CFU] all'anno 1 al semestre 1
100% di DESIGN AND ANALYSIS OF EXPERIMENTS B [STAT, 10 CFU] all'anno 2 al semestre 1
100% di GAME THEORY [FREE, 8 CFU] all'anno 2 al semestre 1
100% di MACHINE LEARNING [ING, 5 CFU] all'anno 2 al semestre 2
100% di ONLINE LEARNING APPLICATIONS [ING, 5 CFU] all'anno 1 al semestre 2
100% di OPTIMIZATION [MTM, 8 CFU] all'anno 2 al semestre 2
100% di REACTION-DIFFUSION EQUATIONS [MTM, 8 CFU] all'anno 1 al semestre 2
                                 Denominazione  CFU Gruppo  Anno  Sem    %
Codice
95958             REAL AND FUNCTIONAL ANALYSIS    8    MST     1    1  1.0
54074              STOCHASTIC DYNAMICAL MODELS    8    MST     1    1  1.0
52496        ALGORITHMS AND PARALLEL COMPUTING   10    MST     1    1  1.0
55700                 COMPUTATIONAL STATISTICS    8   FREE     1    1  1.0
96297   MODEL IDENTIFICATION AND DATA ANALYSIS   10    MST     1    2  1.0
52498                       APPLIED STATISTICS   10    MST     1    2  1.0
56894             ONLINE LEARNING APPLICATIONS    5    ING     1    2  1.0
57266             REACTION-DIFFUSION EQUATIONS    8    MTM     1    2  1.0
52499                      BAYESIAN STATISTICS   10    MST     2    1  1.0
51132     DESIGN AND ANALYSIS OF EXPERIMENTS B   10   STAT     2    1  1.0
52503                              GAME THEORY    8   FREE     2    1  1.0
97690                               FINAL WORK   12    MST     2    2  1.0
97683                         MACHINE LEARNING    5    ING     2    2  1.0
95972                             OPTIMIZATION    8    MTM     2    2  1.0
Total number of CFUs:      120.0
CFUs for year 1 semester 1: 34.0
CFUs for year 1 semester 2: 33.0
CFUs for year 2 semester 1: 28.0
CFUs for year 2 semester 2: 25.0