In [30]:
import pandas as pd

df0 = pd.read_excel("Source.xlsx")

In [3]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.

In [38]:
df2 = df0.groupby(['Codice','Sem','CFU','Rating'])['Gruppo'].apply(list)
df = pd.DataFrame(df2)
df.head(50)
# come si gestisce se uno imposta preferenze diverse per la versione di un gruppo rispetto all'altro?
# io metterei che non si pu√≤ e ciccia

                                  Gruppo
Codice Sem CFU Rating
51132  1   10  0.0                [STAT]
51197  1   5   0.0                 [ING]
52354  1   5   0.0                 [ING]
52496  1   10  0.0                 [MST]
52498  2   10  0.0                 [MST]
52499  1   10  0.0                 [MST]
52503  1   8   5.0           [MTM, FREE]
52505  2   8   2.0                 [MTM]
52533  1   5   0.0           [STAT, ING]
53558  1   5   0.0                 [ING]
54073  2   10  5.0           [CSCL, MTM]
54074  1   8   0.0                 [MST]
54248  2   10  0.0                [STAT]
54307  1   5   5.0     [STAT, ING, FREE]
54383  2   8   5.0                [FREE]
55643  2   8   2.0                 [MTM]
55692  1   5   0.0                 [ING]
55694  1   8   4.0           [MTM, FREE]
55697  1   10  4.0           [MTM, FREE]
55700  1   8   3.0                [FREE]
               4.0                 [MTM]
55701  1   5   4.0                [STAT]
55702  1   8   4.0           [MTM, FREE]
55703  1   5   4.0                [STAT]
55704  2   5   0.0                 [MTM]
55728  2   5   0.0                 [MTM]
55747  1   8   0.0                 [ING]
55757  2   8   1.0                 [MTM]
56623  1   4   2.0                [FREE]
56807  1   5   0.0                 [ING]
56892  1   5   3.0     [STAT, ING, FREE]
56894  2   5   5.0           [ING, FREE]
56895  1   5   3.0           [STAT, ING]
56955  1   5   0.0                [STAT]
56981  2   6   4.0                [FREE]
57000  1   10  0.0                 [ING]
57266  2   8   0.0                 [MTM]
85930  1   10  0.0                 [ING]
89195  1   10  2.0                [FREE]
89318  2   5   2.0                [STAT]
93153  1   8   0.0                 [MTM]
93267  1   10  0.0                [STAT]
93269  1   5   1.0                 [MTM]
95958  1   8   0.0                 [MST]
95963  2   8   1.0                 [MTM]
95972  2   8   3.0                 [MTM]
               4.0                [FREE]
95975  1   8   2.0                 [MTM]
95980  1   8   4.0                [FREE]
95981  1   10  4.0                 [MTM]

In [ ]:
df
CFU_max_sem=35
CFU_max_tot=122
MST=True

df = df.dropna()
dict_base = df.to_dict()

# GENERAZIONE DIZIONARI PARAMETRI
names = dict_base['Denominazione']
codes = dict_base['Codice']
semester = dict_base['Sem']
cfus = dict_base['CFU']
group_full = dict_base['Gruppo']
group_dic = dict_base['Gruppo_id']
rating = dict_base['Rating']

Courses = list(names.keys())
Years = [1, 2]
combos = [(i, j) for i in Courses for j in Years]

Groups = [0, 1, 2, 3, 4, 5]
min_cfus = [10, 16, 10, 16, 0, 0]

### PROBLEM
prob = LpProblem('Il piano di studi', LpMaximize)
courses_vars = pulp.LpVariable.dicts('corso_anno', (Courses, Years), lowBound = 0, upBound = 1, cat = 'Binary')  # creazione variabili

prob += (
    pulp.lpSum(
        [
            rating[i] * cfus[i] * (courses_vars[i][j])  # funzione obiettivo
            for (i, j) in combos
        ]
    )
)

### VINCOLI
if MST:
    prob += courses_vars[153][1] == 1, "Compulsory 1"
    prob += courses_vars[154][1] == 1, "Compulsory 2"
    prob += courses_vars[155][1] == 1, "Compulsory 3"
    prob += courses_vars[156][1] == 1, "Compulsory 4"
    prob += courses_vars[157][1] == 1, "Compulsory 5"
    prob += courses_vars[158][2] == 1, "Compulsory 6"
    prob += courses_vars[159][2] == 1, "Compulsory 7"

for i in Courses:
    prob += pulp.lpSum(
        [courses_vars[i][j] for j in Years]) <= 1, ("Corso " + str(i) + " scelto una sola volta")

for i in Courses:
    for k in Courses:
        if (i != k) and (names[i] == names[k]):
            #print("I corsi uguali sono " + str(i) + " " + str(k) + " " + names[i])
            prob += courses_vars[i][1] + courses_vars[i][2] + courses_vars[k][1] + courses_vars[k][2] <= 1, ''

for j in Years:
    group_courses = [i for i in Courses if semester[i] == 1]
    prob += pulp.lpSum(
        [cfus[i]*courses_vars[i][j] for i in group_courses]) <= CFU_max_sem, ("Max cfu sem 1 anno " + str(j))

    group_courses = [i for i in Courses if semester[i] == 2]
    prob += pulp.lpSum(
        [cfus[i]*courses_vars[i][j] for i in group_courses]) <= CFU_max_sem, ("Max cfu sem 2 anno " + str(j))

for k in range(0, 4):  #in Groups
    group_courses = [i for i in Courses if group_dic[i] == k]
    group_combos = [(i, j) for i in group_courses for j in Years]
    prob += pulp.lpSum(
        [cfus[i]*courses_vars[i][j] for (i,j) in group_combos]) == min_cfus[k], ("Min cfu gruppo " + str(k)) ##>=

prob += pulp.lpSum(
    [cfus[i]*courses_vars[i][j] for (i,j) in combos]) <= CFU_max_tot, "Max cfu totali"

### RISOLUZIONE
prob.solve()

corsi = []
for (i,j) in combos:
    if courses_vars[i][j].varValue == 1.0:
        course_name = names[i]
        semester_name = semester[i]
        cfus_name = cfus[i]
        codes_name = codes[i]
        group_name = group_full[i]
        group_id = group_dic[i]
        el = [codes_name, course_name, cfus_name, group_name, group_id, j, semester_name]
        corsi.append(el)
        #print("Svolgerai il corso " + str(i) + " " + course_name + " al sem " + str(semester_name) + " all'anno " + str(j))

piano = pd.DataFrame(corsi, columns = ['Codice', 'Denominazione', 'CFU', 'Gruppo', 'idgruppo', 'Anno', 'Sem'])
piano = piano.set_index('Codice')
piano = piano.drop(columns=['idgruppo'])
piano = piano.sort_values(['Anno','Sem'], ascending = [TRUE, TRUE])

return piano